@use './../../../../utilities/responsive';
@use './../../../../utilities/mixins/background-image';
@use './../../../../utilities/variables/font-size';


// home-top__main-picture
  // = The rest of height is in home-top__main-picture Block.

.home-top__main-picture {
  @include responsive.respond-to('min', '200') {
    &-container {

      width: 100vw;
      // height: 100vh;
      height: 35vh;
        // The rest of height is in home-top__messages Block.

      color: #fff;

      position: relative;

      overflow: hidden;
  
    }

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      width: 100%;
      height: 100%;
      // width: 100vw;
      // height: 100vh;
      // background-size: cover;
    }
  
    &_flex-container {
      display: flex;
      align-items: center;
    }
    &_flex-item {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: start;
      justify-content: center;

      z-index: 100;
      
    }
    &_text {       
      padding-top: 50px;          
      padding-left: 60px;
      height: 300px;
      writing-mode: vertical-rl;
      font-size: #{font-size.$base + 4}px;

    }
  }

  @include responsive.respond-to('min', '400') {
    // &-container {    
    //   height: 50vh;
    // }
    &_text {       
      padding-top: 100px;    
      font-size: #{font-size.$medium}px;
    
    }

  }

  @include responsive.respond-to('min', '600') {
    // &-container {    
    //   height: 50vh;
    // }
    &_text {       
      padding-top: 120px;    
      // font-size: #{font-size.$medium}px;
    
    }

  }

  @include responsive.respond-to('min', '800') {
    &-container {    
      height: 40vh;
    }

    &-bg {
      // height: 100vh;
    }
    
    &_flex-item {
      height: 100%;
      align-items: center;
    }

    &_text {            
      padding-top: 160px;
      font-size: #{font-size.$medium + 4}px;
              
      // padding-left: 0;
    }
  }

  @include responsive.respond-to('min', '1000') {
    &-container {
      height: 50vh;
    }
    &_text {            
      font-size: #{font-size.$medium + 8}px;
    }
    
  }

  @include responsive.respond-to('min', '1400') {    
    &-container {
      height: 100vh;
    }

    &_text {             
      padding-top: 50px;
      padding-right: 60px;
    }
  
  }
  @include responsive.respond-to('min', '1400') {
    &-container {    
      // height: 100vh;
    }
    &_text {             
      padding-right: 120px;
    }
  
  }
  @include responsive.respond-to('min', '2000') { 
    &_text {      
      height: 600px;
      font-size: #{(font-size.$medium + 4) * 2}px;

    }
  
  }
}