@use './../../../../utilities/responsive';
@use './../../../../utilities/mixins/background-image';
@use './../../../../utilities/variables/font-size';


// home-top__main-picture
  // = The rest of height is in home-top__main-picture Block.

.home-top__main-picture {
  @include responsive.respond-to('min', '200') {
    &-container {

      width: 100vw;
      height: 35vh;
        // The rest of height is in home-top__messages Block.
      // @include background-image.background-image('mainbg01');
      // background-size: cover;
      // background-size: 100%;
      // background-position: center;
      // background-position: "50% 100%";
      // background-repeat: no-repeat;
      // background: chartreuse;

      color: #fff;
      // transition: all 1s ease;
      // transition: background-size 5s ease;

      position: relative;

      // &_zoom-in {
      //   background-size: 200%;
      // }

    // &:hover {
    //   // background-position: "0% 0%";
    //   background-size: 200%;
    // }

    
  
    }

    &-bg {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      // @include background-image.background-image('mainbg01');
      // background-size: 100%;
      // background-position: center;
      // transition: all 1s ease;
      // &_pic-num_1 {
      //   @include background-image.background-image('mainbg01');
      // }
      // &_pic-num_2 {
      //   @include background-image.background-image('mainbg02');
      // }
      // &_pic-num_3 {
      //   @include background-image.background-image('mainbg03');
      // }
    }
  
    &_flex-container {
      display: flex;
      align-items: center;
    }
    &_flex-item {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: start;
      justify-content: center;

      z-index: 100;
      
    }
    &_text {       
      padding-top: 50px;          
      padding-left: 60px;
      writing-mode: vertical-rl;
      font-size: #{font-size.$medium}px;

    }
  }
  @include responsive.respond-to('min', '600') {
    height: 100vh;
    
    &_flex-item {
      height: 50%;
      align-items: center;
    }

    &_text {            
      padding-top: 0;
      font-size: #{font-size.$medium + 4}px;

    }
  
  }



  @include responsive.respond-to('min', '800') {
    &_text {             
      padding-left: 0;
    }
  }
  @include responsive.respond-to('min', '1000') {    

    &_text {             
      padding-right: 60px;
    }
  
  }
  @include responsive.respond-to('min', '1400') {
    &_text {             
      padding-right: 120px;
    }
  
  }
  @include responsive.respond-to('min', '2000') {
    @include background-image.background-image('mainbg01@2x');
    &_text {      
      font-size: #{(font-size.$medium + 4) * 2}px;

    }
  
  }
}