@use '../../../../utilities/responsive';


.header__button_open {

      // position: fixed;      
      // top: 14px;
      // right: 14px;
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      
      // background-color: hsla(0, 0%, 26%, 0.4);      

      color: #fff;
      
      // z-index: 101;

      &:hover {
          cursor: pointer;         
      }
      
    
    @include responsive.respond-to('min', '1000') {
      // right: -100px;
    } 
  
  }