@use '../../../utilities/responsive';
@use '../../../utilities/mixins/background-image';
@use '../../../utilities/variables/base-color';


.header__title {
	width: 100%;
	height: 100%;

	@include responsive.respond-to('min', '200') {
		font-size: 24px;
	}
	@include responsive.respond-to('min', '1000') {
		font-size: 28px;
	}
	@include responsive.respond-to('min', '2000') {
		font-size: 56px;
	}
}

.header__initial-animation {
	z-index: 2000;
	// position: fixed;
	// top: 0;
	// left: 0;
	// display: flex;
	// align-items: center;
	// justify-content: center;	
		// position: fixed;
		// top: 0;
		// left: 0;
		// z-index: 1100;
		// width: 100vw;
		// height: 100vh;
		// background-color: hsla(0, 0%, 0%, 1);
	&__motion-div {
		// position: fixed;
		// top: 0;
		// left: 0;
		// // z-index: 1050;
		// width: 100%;
		// background-color: black;

	}
}
