@use './../../../../utilities/responsive';
@use './../../../../utilities/mixins/background-image';
@use './../../../../utilities/variables/font-size';


// home-top__messages 
  // = The rest of height is in home-top__main-picture Block.

.home-top__messages {
  display: flex;  
  align-items: center;
  writing-mode: vertical-rl;

  @include responsive.respond-to('min', '200') {
    margin-bottom: 8px;    
    width: 100vw;
    height: 100%;

    @include background-image.background-image('bg-1920-1381');
    background-size: cover;
    background-position: center;    

    &_flex-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    &_flex-item {
      width: 100%;
      
      &:first-of-type {    
        // width: 100%;    
        // height: 94%;      
        height: 20%;
        letter-spacing: 8px;


      }
      &:not(:first-of-type):not(:last-of-type) {                
        width: 30%;
        height: 70%;
        letter-spacing: 2px;
      }
      &:last-of-type {
        // width: 100%;
        height: 10%; 
      }
    }    

    &_contents {
    }
    &_padding {
        padding-top: 48px;
        // 16 * 2 + 8 * 2 = 48px
    }

    &_reveal-container {
      width: 100%;
      height: 100%;
      display: flex;
        // Otherwise, the display is set as Block.
      // align-items: center;
      // justify-content: center;

    }
    

    &_title-container {  
      width: 100%;
      height: 100%;     
      // display: grid;      
    
      // grid-template: 
      // [row1-start] ". line-1 line-1 . ." 100px [row1-end]
      // [row2-start] ". . line-2 line-2 ." auto [row2-end]      
      // /  20% 20% 5% 20% 20%; 
    
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

    }

    &_title {
      width: 100%;
      // height: 100%;
      font-size: 18px;
      writing-mode:horizontal-tb
    }
    &_title-line-1 {
      // grid-area: line-1;
      width: 100%;
      display: flex;      
      align-items: center;
      justify-content: center;
    }

    &_title-line-2 {
      // grid-area: line-2;
      // width: 100%;
      display: flex;      
      align-items: center;
      justify-content: center;
    }

    &_text {
      width: 100%;
      // height: 100%;
      font-size: 12px;
        display: flex;
        align-items: center;        

    }
    &_number {      
      padding-left: 4px;
      // font-size: 17px; 
      writing-mode:horizontal-tb

    }

    &_end {
      width: 100%;
      height: 100%;
      font-size: #{font-size.$base}px;
      display: flex;
      justify-content: center;
      align-items: center;
      writing-mode:horizontal-tb


    }

  }


  @include responsive.respond-to('min', '600') { 
    // height: 50vh;
    &_flex-item {
      &:not(:first-of-type):not(:last-of-type) {                
        height: 80%;
 
      }

    }


    &_title-container {         
    
      // grid-template: 
      // [row1-start] ". . line-1 . ." 50% [row1-end]
      // [row2-start] ". . . line-2 ." 50% [row2-end]      
      // / auto 20% 7px 20% auto; 
    

    }
    
  }

  @include responsive.respond-to('min', '800') { 
    // height: 60vh;
    
  }
  @include responsive.respond-to('min', '1000') { 
    writing-mode: vertical-rl;
    

    &_flex-item {
      
      &:first-of-type {               
        width: auto;
        height: 94%;
      }
      &:not(:first-of-type):not(:last-of-type) {                
        // height: 80%;     
      }
      &:last-of-type {      
      }
    }

    &_title {
    }

    &_end {
      justify-content: flex-end;
    }
    
  }
  
  @include responsive.respond-to('min', '1400') {    
  
  
    &_flex-container {
      width: 70%;      
    }

    &_flex-item {
      
      &:first-of-type {       
        height: 60%; 
      }
      &:not(:first-of-type):not(:last-of-type) {                
        padding-top: 90px;
        height: 56%;
      }
      &:last-of-type {
        height: 80%; 
      }
    }

    
    &_title {
        font-size: #{font-size.$medium}px;

    }

    &_text {
      font-size: #{font-size.$base}px;
    }

    &_end {
      font-size: #{font-size.$base + 4}px;

    }

    &_contents {
      &_padding {
        padding-top: 60px;
        // 22 * 2 + 8 * 2 
      }
    }

  }

  @include responsive.respond-to('min', '2000') {
    @include background-image.background-image('bg-3840-2762');
    &_flex-item {
      &:first-of-type {
        letter-spacing: 16px;
      }
      &:not(:first-of-type):not(:last-of-type) {        
        height: 48%;
        letter-spacing: 4px;
      }
      &:last-of-type {
        // padding-bottom: 248px;
        // height: 25%;
        
      }
    }
    
    &_title {
        font-size: #{(font-size.$medium) * 2}px;      

    }

    &_text {
      font-size: #{font-size.$small * 2}px;
    }

    &_end {
      font-size: #{(font-size.$base + 4) * 2}px;

    }

    &_contents {
      &_padding {
        padding-top: 120px;
        // = 22 * 2 * 2 + 16 * 2 
      }
    }

    
  }
}

