@use '../../../utilities/variables/font-size';
@use '../../../utilities/responsive';
@use '../../../utilities/mixins/background-image';

@use '../../../../node_modules/rfs/scss.scss' as rfs;

.header__main {
  
  @include responsive.respond-to('min', '200') {
    width: 100%;
    height: 100%;

    position: absolute;

    &_contents-color_white {
      color: #fff;
    }

    &_contents-color_black {
      color: #000;
    }

    &_flex-container {

      padding: 4px;
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column; 
      align-items: center;
      justify-content: space-evenly;
      
      
    } 

    &_logo {    
      position: absolute;  
      top: -25%;
      left: auto;

      border-radius: 55%;
      width: 50%;
      height: 55%;
      background-position: center;
      background-size: 70%;
      background-repeat: no-repeat;

      z-index: 1001;

        &_color_white {
          box-shadow: 4px 4px 14px 4px hsla(0, 0%, 0%, 0.9);        
          background-color:hsla(0, 0%, 0%, 0.9);                 
          @include background-image.background-image('sakura-logo-white');
        }
        &_color_black {
          box-shadow: 4px 4px 14px 4px hsla(0, 0%, 100%, 0.9);                  
          background-color:hsla(0, 0%, 100%, 0.9);         
          @include background-image.background-image('sakura-logo-black');

        }
      }
    }

    
    &_title {
      margin-top: 14px;
      font-size: #{font-size.$medium}px;
      justify-self: start;  
      &_color_black {
        color: #000;        
      }
      &_color_white {
        color: #fff;        
      }
    } 

  @include responsive.respond-to('min', '1000') {
    
    &_flex-container {
      padding: 0 14px;
      flex-direction: row;
      justify-content: start;

    }

    &_logo {      
      width: 40px;
      height: 40px;
    }

    &_title {
      margin-left: 14px;
      font-size: #{font-size.$medium}px;
    }

  }

  @include responsive.respond-to('min', '2000') {
    &_flex-container {      
      padding: 0 #{font-size.$base * 2};
    }  
    &_logo {
      // margin-left: 28px;
      width: 80px;
      height: 80px;
    }
    &_title {
      font-size: #{font-size.$medium * 2 }px;
    }
  } 

}


