AuthType Basic
AuthName  "Restricted Page"
Require valid-user
AuthUserFile "./.htpasswd"

RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]