AuthType Basic
AuthName  "Restricted Page"
Require valid-user
AuthUserFile  /home/c7607307/.htpasswds/portfolio-static.conohawing.com/.htpasswd

RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]