@use '../../utilities/responsive';
@use '../../utilities/mixins/background-image';
@use '../../utilities/variables/font-size';
@use '../../utilities/variables/base-color';

.reservation-modal {

  @include responsive.respond-to('min', '200') {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 10000;
    
    &__bg {
      width: 100%;
      height: 100%;
      // background-color: rgba(160, 19, 19, 0.4);  
      background-color: rgba(255, 255, 255, 0.4);  
      
      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;

      overflow: scroll;

    }


    

    &__contents-container {
      // &__contents {
      // &__contents_main-content,
      // &__contents_success-message {
      border: 1px solid #707070;
      width: 90%;
      min-width: 300px;
      max-width: 500px;
      // height: 40%;
      // height: 600px;
      min-height: 600px;
      // max-height: 700px;
      // background-color: rgb(51, 214, 1); 
      background-color: #fff;

      display: flex;
      align-items: center;
      justify-content: center;


      position: relative;

      transition: height 1s ease;

    // &__contents_success-message {
      &_success-message-container {
        // background-color: lightcoral;
        // height: 550px;
        // max-height: 1200px;
      }

    }

    &__contents {

      // &__main-content,
      // &__success-message {
        // The outer container Element in EACH Component
        // = The DIRECT Children from .reservation-modal__contents_XXXX
        width: 80%;
        height: 100%;

        display: flex;
        flex-direction: column;
        // justify-content: space-evenly;
        align-items: center;

        // background-color: rgb(43, 226, 195);
        position: relative;
      }

  
    &__main-content,
    &__success-message {
      width: 100%;
      height: 100%;
    }


    &__title {
      box-sizing: border-box;
      border-bottom: 1px solid #E7E7E7;
      padding: 14px 0;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      font-size: 24px;
      
      &_success-message {
        
      }

      &_annotation {
        // margin-top: 8px;
        font-size: 14px;
      }
    }
    &__close-icon {
      position: absolute;
        //  To reservation-modal__contents Element
      top: 18px;
      right: -8%;

      width: 18px;
      height: 18px;
      @include background-image.background-image('close');
      background-size: cover;
      background-position: center;

      transition: all .4s ease;

      &:hover {
        // width: 20px;
        // height: 20px;
        // font-weight:900;
        // box-shadow: 0 0 4px 4px #E7E7E7;
        cursor: pointer;
      }

    }
    &__form {

      &-content {
        width: 100%;
        // background-color: brown;
        display: flex;
 

        &_user-input {
  
          &-container { 
            flex-direction: column;
            align-items: flex-start;

            // background-color: cadetblue;

            font-size: #{font-size.$base + 2}px;
 
            &:nth-of-type(1) {
              margin-top: 14px; 
            }
          }

          &-title {
            padding: 4px 0;
            font-size: 19px;
            display: inline-block;
            // display: flex;
          
            &_annotation {
              font-size: 14px;
            }
          }

          border: 1px solid #E7E7E7;
          padding: 4px 0 4px 8px;
          width: 98%;
          max-width: 400px;
          font-size: 14px;
          color: #797878;

          transition: all .4s ease;

          &:focus {
            border: 1px solid #707070;
            // box-shadow: 0 0 4px 4px #E7E7E7;
            outline: none;
          }

          &_date-field {
            width: 100%;
            // height: 100%;
          }

          &_date-field-flatpickr {
            width: 100%;
            // height: 100%;
          }
         } 

        &_select-box {
          box-sizing: content-box;
          padding-left: 4px;
          padding-right: 4px;          

          &_option_placeholder {
            padding: 0;
          }
        }
        
        &_flatpickr {
          width: 100%;
          height: 100%;

          & > .flatpickr-months .flatpickr-month {
            background: #fff;
          }

        }
      }
    }
  

    &__button {        
    
      &-container {
        padding: 48px 0;
        width: 100%;
        // min-height: 200px;

        padding-bottom: 62px;
        justify-content: center;
        // background-color: cornflowerblue;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      border: 1px solid #707070;
      padding: 8px 0;
      width: 200px;

      // background-color: crimson;
      background-color: #fff;
      
      text-align: center;

      font: lighter 16px inherit;

      transition: all .4s ease;



      &:hover {
        background-color: #707070;
        // box-shadow: 0 0 4px 4px #707070;
        color: #fff;
        cursor: pointer;
      }
    }
  }



  @include responsive.respond-to('min', '2000') {  
  
    &__bg {
      width: 100%;
      height: 100%;
      // background-color: rgba(160, 19, 19, 0.4);  
      background-color: rgba(255, 255, 255, 0.4);  
      
      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;

    }

    &__contents-container {
      min-width: 600px;
      max-width: 1000px;      
      min-height: 1000px;
      // max-height: 1400px;

      &_success-message-container {
        max-width: 1200px;      
      }

    }

    &__contents {
    }

    &__title {
      padding: 28px 0; 
      font-size: #{font-size.$large * 2}px;

      &_annotation {
        font-size: 24px;
      }

      // &_success-message  {
      //   displ
      // }
    }
    
    &__close-icon {
      top: 14px;
 

      width: 36px;
      height: 36px;

      &_success-message {
        top: 36px;
      }

    }
    &__form {

      &-content {

        &_user-input {
          
          padding: 8px 0 8px 16px;
          
          max-width: 800px; 

          font-size: 28px;
  
          &-container { 
          

            font-size: #{(font-size.$base + 2) * 2}px;

            &_num_1 {
              margin-top: 28px; 
            }
          }

          &-title {
            padding: 8px 0;
            font-size: 38px;
            &_annotation {
              font-size: 28px;
            }
          
          }

         } 

        &_select-box {          
          border-radius: none;
          padding-left: 8px;
          padding-right: 8px;          


          &_option_placeholder {

          }
        } 
        // &_select-box > 
        &__button {        
        
          &-container {
            padding: 96px 0;
            padding-bottom: 124px;            
          }
          
          padding: 16px 0;
          width: 400px;
          font-size: 32px;

            
            
        }
      }
    }


  }


}
