@use '../../../utilities/responsive';
@use '../../../utilities/mixins/background-image';
@use '../../../utilities/variables/font-size';
@use '../../../utilities/variables/base-color';

.home-access {
  min-height: 1000px;
  @include responsive.respond-to('min', '200') {    
    width: 100%;
    height: 150vh;
      // Under this height, makes the pictures too small to see. 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: yellowgreen;
    @include background-image.background-image('bg');
    background-size: cover;
    background-position: center;

    &__heading-container {
      height: 15%;
    }

    &__contents {
      // padding-bottom: 5%;
      width: 90%;
      height:80%;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      justify-content: center;
      align-items: center;
    }
    &__content {
      width: 100%;
    }
    &__appearance {
      width: 90vw;
      // height: 50vh;
      height: 30%;
      max-width: 500px;
      max-height: 300px;
      @include background-image.background-image('access');
      background-size: cover;
      background-position: center;
    }
    &__info {
      padding: 14px 0;
      max-width: 400px;
      height: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &-content {
        width: 90%;
        font-size: #{font-size.$small}px;
      }
    }
    &__map { 
      width: 90vw;
      height: 30%;
      grid-area: map;
      @include background-image.background-image('map');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  } 

  @include responsive.respond-to('min', '400') {
    &__map {      
      height: 60vh;
    }

  }    

  @include responsive.respond-to('min', '800') {   
    height: 100vh;

    &__heading-container {
      height: 20%;
    }


    &__contents {
      height:75%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }  

    &__appearance {
      width: 70%;
      height: 35%;
      background-size: cover;
      max-width: 1000px;
      max-height: 600px;
    }

    &__info {
      padding-left: 14px;
      width: 25%;
      height: 35%;
      &-content {
        font-size: #{font-size.$base}px;
      }
    }

    &__map {
      width: 100%;
      height: 50%;
    }

  } 

  @include responsive.respond-to('min', '1000') {   

    &__appearance {
      width: 60%;
    }


  } 

  @include responsive.respond-to('min', '1200') {   

    &__appearance {
      width: 50%;
    }

  } 

  @include responsive.respond-to('min', '1400') {   

    &__appearance {
      width: 40%;
    }

  } 

  @include responsive.respond-to('min', '2000') {   
    @include background-image.background-image('bg@2x');

    &__appearance {
      max-width: 2000px;
      max-height: 1200px;
    }

    &__info {
      &-content {
        font-size: #{font-size.$base * 2}px;
      }

    }  

    &__map {
      @include background-image.background-image('map@2x');
    }

  } 
}