
@use '../../../utilities/responsive';
@use '../../../utilities/mixins/background-image';
@use '../../../utilities/variables/font-size';
@use '../../../utilities/variables/base-color';


.reservation-modal__success-message {

  @include responsive.respond-to('min', '200') {  
    // position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_contents {
      width: 100%;
      // min-width: 300px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      overflow: scroll;
    }

    
    &_title {
      // padding: 0;
      min-height: 100px;
    }
    
    &_details {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: space-evenly;

      // background-color: blue;

      &_title {
        padding: 8px 0;
        width: 100%;
        // min-height: 100px;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &_content {
        // padding: 8px 0;
        width: 100%;        
        font-size: 14px;
      }

      &_horizontal-line {
        margin: 14px 0;
        width: 60%;
        height: 1px;
        background-color: #E7E7E7;;

      }
      &_announcement {        
        width: 90%;
        // height: 100px;
        font-size: 14px;

        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
    }

    &_farewell-message {
      margin-top: 24px;
    }
  }

  
  @include responsive.respond-to('min', '600') {  
    &_details {
     
      &_title {       
        font-size: 20px;       
      }
      &_contents { 
      }
      &_content {     
        font-size: 16px;
      }

      &_announcement {      
        font-size: 16px;
      }
      
    }

    // &_farewell {   
    //   // min-width: 500px;

    //   &-message {        
    //     font-size: 32px;
      

    //     &_annotation {
    //       font-size: 20px;
    //     }
    //   }
    // }
    
  }
  
  @include responsive.respond-to('min', '1000'){  
    // &_farewell {   
    //   // min-width: 500px;

    //   &-message {        
    //     font-size: 40px;
      

    //     &_annotation {
    //       font-size: 28px;
    //     }
    //   }
    // }
  }

  @include responsive.respond-to('min', '2000') {  
    
    

    &_title {      
      min-height: 150px;
    }
  
    
    &_details {
     

      &_title {        
        min-height: 150px;
        font-size: 32px;        
      }
      &-contents { 
        // min-height: 400px;
      }
      &_content {           
        font-size: 28px;
      }

      &_announcement { 
        min-height: 200px;       
        font-size: 28px;
      }
      
    }

    // &_farewell {   
    
 
    //   padding: 60px 0;
    //   // width: 100%;
    //   width: 100vw;
 

    //   &-message {        
    //     font-size: 64px;
      

    //     &_annotation {
    //       font-size: 36px;
    //     }
    //   }
    // }
  }

}