@use 'sass:list';

@mixin background-image($img-name) {

  $png-images: 'sakura-logo-black' 'sakura-logo-white' 'sakura-logo-skelton-black' 'calendar-icon-white' 'calendar-icon-black' 'calendar-icon-black' 'close' 'close-icon-white' 'close-icon-black' 'menu-icon-white' 'menu-icon-black' 'arrow-icon-black' 'route-icon';
 
  @if list.index($png-images, $img-name) {

    background-image: url(./assets/images/#{$img-name}.png);
    

  } @else {

    background-image: url(./assets/images/#{$img-name}.jpg);
    
  }
}