@use '../../../../utilities/responsive';
@use '../../../../utilities/mixins/background-image';

.header__button_close {
  width: 18px;
  height: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &_color_black {
    @include background-image.background-image('close-icon-black');

  }
  &_color_white {
    @include background-image.background-image('close-icon-white');

  }

  @include responsive.respond-to("min", "1000") {
    // right: -100px;
  }
}
