@use '../../../utilities/responsive';
@use '../../../utilities/mixins/background-image';
@use '../../../utilities/variables/font-size';
@use '../../../utilities/variables/base-color';
// .header__reservation_button
  // Height = The same as the space at the RIGHT side of the button.
      // = 14px, 24px
// .header__reservation_calendar-icon
  // The same size as the font-size of .header__reservation_title


.header__reservation {

  @include responsive.respond-to('min', '200') {

    // width: 100%;
    height: 100%;

    color: #fff;


    &_button {
      padding: 8px 0;
      width: 200px;
      height: 48px;
      
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #{base-color.$yellow};
      transition: all .4s ease;

      &:hover {
        // box-shadow: 0 0 4px 4px #{base-color.$gray-dark};
        background-color: base-color.$yellow-hover;

    }
    }
   
    &_calendar-icon {
      width: #{font-size.$large}px;
      height: #{font-size.$large}px;
      background-position: center;
      background-size: contain;
      @include background-image.background-image('calendar-icon');
    }
    &_title {
      margin-left: 14px;
      font-size: #{font-size.$medium}px; 
    }
  } 

  @include responsive.respond-to('min', '1000') {
    padding: 0 #{font-size.$base}px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &_button {
      padding: 0;
      width: 150px;
    }

    &_calendar-icon {
      width: #{font-size.$base}px;
      height: #{font-size.$base}px;
    }
    &_title {
      font-size: #{font-size.$base}px;
    }
  } 
  

  @include responsive.respond-to('min', '2000') {
    padding: 0 #{font-size.$base * 2}px;

    &_button {
      width: 300px;
      height: 96px;
    }

    &_calendar-icon {
      width: #{font-size.$base * 2}px;
      height: #{font-size.$base * 2}px;
    }
    &_title {
      font-size: #{font-size.$base * 2}px;
    }
  } 
}  