@charset "UTF-8";
.App {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif, "Noto Serif JP";
}

.header {
  position: relative;
}
@media (min-width: 600px) {
  .header {
    overflow: hidden;
  }
}

@media (min-width: 200px) {
  .header__contents {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: transform 0.3s;
    overflow: scroll;
    z-index: 1000;
  }
  .header__contents_black {
    background-color: #000;
    opacity: 0.9;
    color: #fff;
  }
  .header__contents_white {
    background-color: #fff;
    color: #000;
  }
}
@media (min-width: 200px) and (min-width: 200px) {
  .header__contents_hide {
    width: 100vw;
    transform: translate3d(-100vw, 0, 0);
  }
}
@media (min-width: 200px) and (min-width: 200px) and (min-width: 600px) {
  .header__contents_hide {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }
}
@media (min-width: 200px) and (min-width: 200px) {
  .header__contents_show {
    width: 100vw;
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }
}
@media (min-width: 200px) {
  .header__contents_grid-container {
    display: grid;
    grid-template: [row1-start] "main" 30% [row1-end] [row2-start] "menu" 30% [row2-end] [row3-start] "reservation" 30% [row3-end]/auto;
    place-content: center center;
    place-items: center center;
  }
}
@media (min-width: 200px) {
  .header__contents_main {
    grid-area: main;
  }
}
@media (min-width: 200px) {
  .header__contents_menu {
    grid-area: menu;
  }
}
@media (min-width: 200px) {
  .header__contents_reservation {
    grid-area: reservation;
  }
}
@media (min-width: 200px) {
  .header__contents_grid-item {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 600px) {
  .header__contents {
    height: 70px;
  }
  .header__contents_grid-container {
    grid-template: [row1-start] "main menu reservation" 100% [row1-end]/30% 50% 20%;
  }
}
@media (min-width: 1000px) {
  .header__contents_grid-container {
    grid-template: [row1-start] "main menu reservation" 100% [row1-end]/20% 60% 20%;
  }
}
@media (min-width: 2000px) {
  .header__contents {
    height: 140px;
  }
}

@media (min-width: 200px) {
  .header__main {
    height: 100%;
  }
  .header__main_contents-color_white {
    color: #fff;
  }
  .header__main_contents-color_black {
    color: #000;
  }
  .header__main_flex-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header__main_logo {
    width: 80px;
    height: 80px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .header__main_logo_color_white {
    background-image: url(./assets/images/sakura-logo-white.png);
  }
  .header__main_logo_color_black {
    background-image: url(./assets/images/sakura-logo-black.png);
  }
}
.header__main_title {
  margin-top: 24px;
  font-size: 32px;
}
.header__main_title_color_black {
  color: #000;
}
.header__main_title_color_white {
  color: #fff;
}
@media (min-width: 600px) {
  .header__main_flex-container {
    padding: 0 14px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
  .header__main_logo {
    width: 40px;
    height: 40px;
  }
  .header__main_title {
    margin: 0;
    margin-left: 14px;
    font-size: 22px;
  }
}
@media (min-width: 800px) {
  .header__main_title {
    justify-self: start;
  }
}
@media (min-width: 2000px) {
  .header__main_flex-container {
    padding: 0 28;
  }
  .header__main_logo {
    width: 80px;
    height: 80px;
  }
  .header__main_title {
    font-size: 44px;
  }
}

@media (min-width: 200px) {
  .header__menu_grid-container {
    height: 100%;
    display: grid;
    grid-template: [row1-start] "oheya" 30% [row1-end] [row2-start] "oryori" 30% [row2-end] [row3-start] "onsen" 30% [row3-end]/100%;
    place-content: center center;
    place-items: center center;
  }
  .header__menu_oheya {
    grid-area: oheya;
  }
  .header__menu_oryori {
    grid-area: oryori;
  }
  .header__menu_onsen {
    grid-area: onsen;
  }
  .header__menu_grid-item {
    font-size: 22px;
  }
}
@media (min-width: 600px) {
  .header__menu_grid-container {
    grid-template: [row1-start] "oheya oryori onsen" 100% [row1-end]/20% 20% 20%;
    justify-content: start;
    justify-items: start;
  }
  .header__menu_grid-item {
    font-size: 14px;
  }
}
@media (min-width: 800px) {
  .header__menu_grid-container {
    grid-template: [row1-start] "oheya oryori onsen" 100% [row1-end]/15% 15% 15%;
  }
}
@media (min-width: 2000px) {
  .header__menu_grid-item {
    font-size: 28px;
  }
}

@media (min-width: 200px) {
  .header__reservation {
    height: 100%;
    color: #fff;
  }
  .header__reservation_button {
    width: 200px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #988f10;
    transition: all 0.4s ease;
  }
  .header__reservation_button:hover {
    background-color: #aaa346;
  }
  .header__reservation_calendar-icon {
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: contain;
    background-image: url(./assets/images/calendar-icon.png);
  }
  .header__reservation_title {
    margin-left: 14px;
    font-size: 22px;
  }
}
@media (min-width: 600px) {
  .header__reservation {
    padding: 0 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .header__reservation_button {
    width: 150px;
  }
  .header__reservation_calendar-icon {
    width: 14px;
    height: 14px;
  }
  .header__reservation_title {
    font-size: 14px;
  }
}
@media (min-width: 2000px) {
  .header__reservation {
    padding: 0 28px;
  }
  .header__reservation_button {
    width: 300px;
    height: 96px;
  }
  .header__reservation_calendar-icon {
    width: 28px;
    height: 28px;
  }
  .header__reservation_title {
    font-size: 28px;
  }
}

@media (min-width: 200px) {
  .header__button_open {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 14px;
    height: 14px;
    color: #505050;
    outline: none;
    transition: all 0.2s cubic-bezier(0, 1.26, 0.8, 1.28);
  }
}
@media (min-width: 200px) and (min-width: 200px) {
  .header__button_open:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
  }
}
@media (min-width: 200px) and (min-width: 200px) {
  .header__button_open:active {
    color: black;
  }
}
@media (min-width: 600px) {
  .header__button_open {
    right: -100px;
  }
}

.header__button_close {
  position: absolute;
  top: 14px;
  right: 14px;
}
.header__button_close_color-white {
  color: #fff;
}
.header__button_close_color-black {
  color: #000;
}
@media (min-width: 600px) {
  .header__button_close {
    right: -100px;
  }
}

@media (min-width: 200px) {
  .footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 300px;
    background-color: burlywood;
    background-image: url(./assets/images/bg3.jpg);
    background-size: cover;
    background-position: center;
  }
  .footer_grid-container {
    width: 100%;
    display: grid;
    grid-template: [row1-start] "menu" 30% [row1-end] [row2-start] "main" 30% [row2-end] [row3-start] "info" 25% [row3-end] [row4-start] "copy-right" 15% [row4-end]/100%;
    place-content: center center;
    place-items: center center;
  }
  .footer_grid-item {
    width: 100%;
    height: 100%;
  }
  .footer_menu {
    grid-area: menu;
  }
  .footer_main {
    grid-area: main;
  }
  .footer_info {
    grid-area: info;
  }
  .footer_copy-right {
    grid-area: copy-right;
  }
}
@media (min-width: 600px) {
  .footer {
    height: 500px;
  }
}
@media (min-width: 2000px) {
  .footer {
    height: 1000px;
    background-image: url(./assets/images/bg3@2x.jpg);
  }
}

@media (min-width: 200px) {
  .footer__menu {
    width: 100%;
    height: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  .footer__menu_grid-container {
    width: 200px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 15%);
    grid-template-rows: 45px;
    place-content: center center;
    place-items: start center;
  }
  .footer__menu_grid-item {
    writing-mode: vertical-rl;
  }
}
@media (min-width: 2000px) {
  .footer__menu_grid-container {
    width: 400px;
    grid-template-rows: 75px;
  }
}
@media (min-width: 2000px) {
  .footer__menu {
    font-size: 28px;
  }
  .footer__menu_grid-container {
    width: 800px;
    grid-template-rows: 150px;
  }
}

@media (min-width: 200px) {
  .footer__main {
    width: 100%;
    height: 100%;
  }
  .footer__main_flex-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__main_logo {
    width: 33px;
    height: 33px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./assets/images/sakura-logo-skelton-black.png);
  }
  .footer__main_title {
    margin-top: 8px;
    font-size: 22px;
  }
}
@media (min-width: 2000px) {
  .footer__main_logo {
    width: 66px;
    height: 66px;
  }
  .footer__main_title {
    margin-top: 16px;
    font-size: 44px;
  }
}

.footer__info {
  width: 100%;
  height: 100%;
}
@media (min-width: 200px) {
  .footer__info {
    font-size: 12px;
  }
  .footer__info_grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: [row1-start] "post" 30% [row1-end] [row2-start] "tel" 30% [row2-end] [row3-start] "fax" 30% [row3-end]/90%;
    place-content: center center;
    place-items: center center;
  }
  .footer__info_grid-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer__info_grid-item_post {
    grid-area: post;
  }
  .footer__info_grid-item_post-region {
    margin-left: 8px;
  }
  .footer__info_grid-item_tel {
    grid-area: tel;
  }
  .footer__info_grid-item_fax {
    grid-area: fax;
  }
}
@media (min-width: 600px) {
  .footer__info_grid-container {
    grid-template: [row1-start] "post post" 20% [row1-end] [row2-start] "tel fax" 20% [row2-end]/50% 50%;
    column-gap: 14px;
    place-content: center center;
    place-items: center center;
  }
  .footer__info_grid-item_post-region {
    margin-left: 14px;
  }
  .footer__info_grid-item_tel {
    display: flex;
    justify-content: flex-end;
  }
  .footer__info_grid-item_fax {
    display: flex;
    justify-content: flex-start;
  }
}
@media (min-width: 2000px) {
  .footer__info {
    font-size: 24px;
  }
  .footer__info_grid-container {
    column-gap: 28px;
  }
  .footer__info_grid-item_post-region {
    margin-left: 28px;
  }
}

@media (min-width: 200px) {
  .footer__copy-right {
    font-size: 8px;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 2000px) {
  .footer__copy-right {
    font-size: 16px;
  }
}

.link {
  color: #FFF;
  text-decoration: none;
}
.link:hover {
  font-weight: bold;
}
.link_color_black {
  color: #000;
}

/*# sourceMappingURL=main.css.map */
