@use '../../utilities/responsive';

.header {
  max-width: 100%;
  position: relative;
  @include responsive.respond-to('min', '600') {
    overflow: hidden;
    // Hide the Header__Button_Open which is placed right: -100 when the screen is larger than 600px
  } 
}