@use '../../../utilities/responsive';
@use '../../../utilities/mixins/background-image';
@use '../../../utilities/variables/base-color';

.header__button {


  border-radius: 50%;
  width: 70px;
  height: 70px;

  background-color: #{base-color.$yellow};
      
  
  }