@use '../../../utilities/responsive';
@use '../../../utilities/mixins/background-image';
@use '../../../utilities/variables/base-color';

.header__button {


  border-radius: 50%;
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #{base-color.$yellow};
      
  
  }